.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding-left: 25px;
    padding-top: 13px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }
}

.logo {
  height: 55px;
  padding-bottom: 10px;
}
.shopping-bag {
  height: 15px;
}
